@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Square+Peg&display=swap');

body {
    background-color: rgb(95, 0, 95);
}
#a1 {
    background-color: purple;
    margin: 20px;
    text-align: center;
    color: white;
}

.opensans {
    font-family: 'Open Sans', sans-serif;
}

.sq-pg {
    font-family: 'Square Peg', cursive;
    font-size: 64px;
}